// .hero-sec {
//   background-image: url('../images/hero-pic.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.hero-svg {
  height: 400px;
  width: 400px;
}

@media (min-width: 768px) {
  .hero-svg {
    width: 600px;
  }
}
